<div class="card max-w-max">
  <p-toast />
  <p-dataview
    #flyersView
    class="flex-auto overflow-hidden"
    dataKey="_id"
    stateStorage="local"
    stateKey="flyers"
    emptyMessage="Nie znaleziono pasujących ulotek"
    [value]="(value$ | async) ?? []"
    [totalRecords]="(totalRecords$ | async) ?? 0"
    [rows]="10"
    scrollHeight="flex"
    [paginator]="true"
    [lazy]="true"
    currentPageReportTemplate="{first}-{last} z {totalRecords}"
    [showCurrentPageReport]="true"
    (onLazyLoad)="lazyLoad($event)">
    <ng-template #header>
      <div class="filter-bar">
        <div class="filter-item">
          <div class="search-label">Nazwa</div>
          <input
            pInputText
            styleClass="w-20rem"
            type="text"
            placeholder="Szukaj..."
            [ngModel]="flyerNameSearch"
            (ngModelChange)="filter('id', $event)" />
        </div>
        <div class="filter-item">
          <div class="search-label">Rozmiar</div>
          <p-select
            styleClass="w-10rem"
            [ngModel]="flyerSizeSearch"
            [options]="flyerSizes"
            placeholder="Szukaj..."
            [showClear]="true"
            scrollHeight="30rem"
            (onChange)="filter('flyerSize', $event.value)" />
        </div>
        <div class="filter-item">
          <div class="search-label">Typ</div>
          <p-select
            styleClass="w-10rem"
            [ngModel]="flyerTypesSearch"
            [options]="flyerTypes"
            placeholder="Szukaj..."
            [showClear]="true"
            scrollHeight="30rem"
            (onChange)="filter('flyerType', $event.value)" />
        </div>
        <div class="filter-item">
          <div class="search-label">Tag</div>
          <p-select
            styleClass="w-10rem"
            [ngModel]="flyerTagSearch"
            [options]="tags"
            optionValue="_id"
            optionLabel="name"
            placeholder="Szukaj..."
            [showClear]="true"
            scrollHeight="30rem"
            (onChange)="filter('flyerTags', $event.value)" />
        </div>
        <p-button
          *appShowIfAdmin
          class="absolute right-0"
          severity="primary"
          icon="pi pi-plus"
          (onClick)="openFlyerDialog()" />
      </div>
    </ng-template>
    <ng-template #list let-flyers>
      <div class="grid grid-cols-12 p-3 pb-0 gap-4 grid-nogutter justify-content-center">
        @for(flyer of flyers; track $index) {
        <div class="flyer-cell shadow-3">
          @if(flyer.releases.length) {
          <div class="flyer-cell-title">
            {{ flyer.releases[0].distributors | join : ' • ' : 'name' }}
            @if (flyer.releases[0].note) { @if(flyer.releases[0].distributors.length) { • }
            <i>{{ flyer.releases[0].note }}</i> }
          </div>
          }
          <app-big-flyer [flyer]="flyer" />
          <div class="flyer-cell-footer" [appUserFlyerStatusClass]="flyer.userFlyer">
            @for(release of flyer.releases; track $index) {
            <div class="text-center">
              <div>
                <b>{{ release.film.title }}</b>
              </div>
              <div [style.opacity]="0.75">
                {{ release.date }}
                @if (release.releaseType !== 1) { <span> ({{ release.releaseType | releaseTypeName }})</span> }
              </div>
            </div>
            } @empty {
            <div class="text-xs">{{ flyer.id }}</div>
            }
            <div class="flyer-actions left" *appShowIfLogged>
              <app-user-flyer-status-button [flyer]="flyer" (statusChanged)="flyer.userFlyer = $event" />
            </div>
            <div class="flyer-actions right" *appShowIfAdmin>
              <p-button
                icon="pi pi-pencil"
                class="mx-2"
                size="small"
                [rounded]="true"
                (click)="openFlyerDialog(flyer)" />
              <p-button
                icon="pi pi-trash"
                severity="danger"
                size="small"
                [rounded]="true"
                (click)="deleteFlyer(flyer)" />
            </div>
          </div>
        </div>
        }
      </div>
    </ng-template>
  </p-dataview>
  <p-confirmDialog [style.width.rem]="28" />
</div>
