.table-row
  &:hover p-button
    visibility: visible

  p-button
    visibility: hidden

:host ::ng-deep p-dataview
  .p-dataview
    display: flex
    flex-direction: column
    overflow: hidden
    height: 100%

  .p-dataview-content
    overflow-x: hidden
    overflow-y: auto
    flex: auto

  .p-paginator-bottom
    flex: none

  .p-dataview-emptymessage
    text-align: center

.flyer-cell
  display: flex
  flex-direction: column
  position: relative
  width: 21rem
  overflow: hidden
  border-radius: 0.5rem
  background: var(--p-surface-800)
  justify-content: space-between

  &:hover .flyer-actions > *
    visibility: visible !important

.flyer-cell-title
  text-align: center
  text-transform: uppercase
  font-weight: bold
  font-size: 0.75rem
  letter-spacing: 1px
  padding: 0.5rem
  color: var(--p-text-muted-color)

.flyer-stats
  display: flex
  flex-wrap: nowrap
  gap: 0.5rem
  color: var(--p-text-muted-color)
  padding: 0.25rem 1rem
  align-items: center
  justify-content: center

  > .flyer-stat
    display: flex
    align-items: center
    justify-content: center
    gap: 0.5rem
    border-radius: 0.5rem
    padding: 0.125rem 0.375rem
    background: var(--p-surface-900)
    font-size: 0.875rem

    > .pi
      font-size: 0.75rem

.flyer-cell-footer
  background: var(--p-surface-700)
  padding: 0.25rem 0.5rem
  font-size: 0.875rem
  position: relative

  .flyer-actions
    display: flex
    gap: 0.5rem
    align-items: center
    position: absolute
    bottom: 0
    top: 0

    &.left
      left: 0.5rem

    &.right
      right: 0.5rem

    > *:not(.visible)
      visibility: hidden

.filter-bar
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center
  position: relative
  column-gap: 1rem
  row-gap: 0.5rem

.filter-item
  display: flex
  gap: 1rem
  align-items: center
  justify-content: center

.search-label
  text-align: center
  text-transform: uppercase
  font-weight: bold
  font-size: 0.75rem
  letter-spacing: 1px
  color: var(--p-text-muted-color)
