<div class="card max-w-max">
  <p-dataview
    #flyersView
    class="flex-auto overflow-hidden"
    dataKey="_id"
    emptyMessage="Nie znaleziono pasujących ulotek"
    [value]="(value$ | async) ?? []"
    [totalRecords]="(totalRecords$ | async) ?? 0"
    [rows]="10"
    scrollHeight="flex"
    [paginator]="true"
    [lazy]="true"
    currentPageReportTemplate="{first}-{last} z {totalRecords}"
    [showCurrentPageReport]="true"
    (onLazyLoad)="lazyLoad($event)">
    <ng-template #header>
      <div class="filter-bar">
        <div class="filter-item">
          <div class="search-label">Nazwa</div>
          <input
            pInputText
            class="w-10rem"
            type="text"
            placeholder="Szukaj..."
            [ngModel]="flyerNameSearch"
            (ngModelChange)="filter('filterName', $event)" />
        </div>
        <div class="filter-item">
          <div class="search-label">Rozmiar</div>
          <p-select
            styleClass="w-9rem"
            [ngModel]="flyerSizeSearch"
            [options]="flyerSizes"
            placeholder="Szukaj..."
            [showClear]="true"
            scrollHeight="30rem"
            (onChange)="filter('flyerSize', $event.value)" />
        </div>
        <div class="filter-item">
          <div class="search-label">Typ</div>
          <p-select
            styleClass="w-9rem"
            [ngModel]="flyerTypesSearch"
            [options]="flyerTypes"
            placeholder="Szukaj..."
            [showClear]="true"
            scrollHeight="30rem"
            (onChange)="filter('flyerType', $event.value)" />
        </div>
        <div class="filter-item">
          <div class="search-label">Rodzaj</div>
          <p-select
            styleClass="w-9rem"
            [ngModel]="flyerKindSearch"
            [options]="flyerKinds"
            placeholder="Szukaj..."
            [showClear]="true"
            scrollHeight="30rem"
            (onChange)="filter('flyerKind', $event.value)" />
        </div>
        <div class="filter-item">
          <div class="search-label">Tag</div>
          <p-select
            styleClass="w-9rem"
            [ngModel]="flyerTagSearch"
            [options]="tags"
            optionValue="_id"
            optionLabel="name"
            placeholder="Szukaj..."
            [showClear]="true"
            scrollHeight="30rem"
            (onChange)="filter('flyerTags', $event.value)" />
        </div>
        <div class="filter-item">
          <div class="search-label">Sortowanie</div>
          <p-select
            styleClass="w-10rem"
            [ngModel]="flyerSort"
            [options]="sorts"
            (onChange)="filter('sort', $event.value)" />
        </div>
        <p-button
          *appShowIfAdmin
          class="absolute right-0"
          severity="primary"
          icon="pi pi-plus"
          (onClick)="openFlyerDialog()" />
      </div>
    </ng-template>
    <ng-template #list let-flyers>
      @if (usersMap$ | async; as usersMap) {
      <div class="grid grid-cols-12 p-3 pb-0 gap-4 grid-nogutter justify-content-center">
        @for(flyer of flyers; track $index) {
        <div class="flyer-cell shadow-3">
          @if(flyer.distributors || flyer.notes) {
          <div class="flyer-cell-title">
            {{ flyer.distributors }}
            @if (flyer.distributors && flyer.notes) { • }
            <i>{{ flyer.notes }}</i>
          </div>
          }
          <app-big-flyer [flyer]="flyer" />
          <div>
            <div class="flyer-stats">
              <div class="flyer-stat" [pTooltip]="flyer.have | users : usersMap">
                <i class="pi pi-check"></i>
                <span>{{ flyer.have?.length ?? 0 }}</span>
              </div>
              <div class="flyer-stat" [pTooltip]="flyer.trade | users : usersMap">
                <i class="pi pi-arrow-right-arrow-left"></i>
                <span>{{ flyer.trade?.length ?? 0 }}</span>
              </div>
              <div class="flyer-stat" [pTooltip]="flyer.want | users : usersMap">
                <i class="pi pi-search"></i>
                <span>{{ flyer.want?.length ?? 0 }}</span>
              </div>
            </div>
            <div class="flyer-cell-footer" [appUserFlyerStatusClass]="flyer.userFlyer">
              @for(release of flyer.releases; track $index) {
              <div class="text-center">
                <div>
                  <b>{{ release.film.title }}</b>
                </div>
                <div [style.opacity]="0.75">{{ release.date }}</div>
              </div>
              }
              <div class="flyer-actions left">
                <app-user-flyer-status-button [flyer]="flyer" (statusChanged)="lazyLoad()" *appShowIfLogged />
                <app-copy-flyer-name-button [flyer]="flyer" />
              </div>
              <div class="flyer-actions right" *appShowIfAdmin>
                <p-button icon="pi pi-pencil" size="small" [rounded]="true" (click)="openFlyerDialog(flyer)" />
                <p-button
                  icon="pi pi-trash"
                  severity="danger"
                  size="small"
                  [rounded]="true"
                  (click)="deleteFlyer(flyer)" />
              </div>
            </div>
          </div>
        </div>
        }
      </div>
      }
    </ng-template>
  </p-dataview>
  <p-confirmDialog [style.width.rem]="28" />
</div>
