.table-row
  &:hover p-button
    visibility: visible

  p-button
    visibility: hidden

.no-flyer
  opacity: 0.5

.release
  display: flex
  flex-direction: column
  gap: 0.25rem
  align-items: start

.flyers
  display: flex
  flex-wrap: wrap
  align-items: flex-start
  gap: 0.5rem
  overflow: hidden
  max-width: 50rem

.alphabet-header
  display: flex
  align-items: center
  justify-content: center
  background: var(--p-content-background)
  border-color: var(--p-content-border-color)
  border-width: 0 0 1px 0
  border-style: solid
  padding: 0.75rem 1rem

@media (max-width: 1449px)
  .alphabet-header
    display: none

  #select-letter
    display: flex

@media (min-width: 1450px)
  .alphabet-header
    display: flex

  #select-letter
    display: none
