<div class="card">
  <p-toast />
  <p-table
    class="flex-auto overflow-hidden"
    dataKey="_id"
    stateStorage="local"
    stateKey="films"
    [value]="(value$ | async) ?? []"
    [totalRecords]="(totalRecords$ | async) ?? 0"
    [rows]="10"
    scrollHeight="flex"
    [scrollable]="true"
    [rowHover]="true"
    [paginator]="true"
    [lazy]="true"
    currentPageReportTemplate="{first}-{last} z {totalRecords}"
    [showCurrentPageReport]="true"
    (onLazyLoad)="lazyLoad($event)">
    <ng-template #header>
      <tr>
        <th [style.width]="'5%'"></th>
        <th [style.width]="'35%'">
          <div class="flex align-items-center gap-3">
            <p-columnFilter type="text" field="title" [showMenu]="false" [showClearButton]="false" matchMode="contains">
              <ng-template #filter let-value let-filter="filterCallback">
                <input
                  pInputText
                  styleClass="w-20rem"
                  type="text"
                  placeholder="Szukaj wg tytułu..."
                  [ngModel]="value"
                  (ngModelChange)="filter($event)" />
              </ng-template>
            </p-columnFilter>
          </div>
        </th>
        <th [style.width]="'15%'">
          <div class="flex align-items-center gap-3">
            <p-columnFilter field="genres" [showMenu]="false" [showClearButton]="false">
              <ng-template #filter let-value let-filter="filterCallback">
                <p-multiselect
                  styleClass="w-20rem"
                  [ngModel]="value"
                  [options]="genres"
                  placeholder="Szukaj wg gatunku..."
                  [showClear]="false"
                  (onChange)="filter($event.value)" />
              </ng-template>
            </p-columnFilter>
          </div>
        </th>
        <th [style.width]="'35%'">Premiery</th>
        <th [style.width]="'10%'" class="text-right">
          <p-button severity="primary" icon="pi pi-plus" (onClick)="openFilmDialog()" />
        </th>
      </tr>
    </ng-template>
    <ng-template #body let-film>
      <tr class="table-row" [class.no-flyer]="!film.flyerCount">
        <td class="text-center">
          @if(film.imdb) {
          <a [href]="film.imdb | imdb" target="_blank">
            <img [style.width.rem]="2.5" src="imdb.svg" alt="logo" />
          </a>
          }
        </td>
        <td>
          <b>{{ film.title }} ({{ film.year }})</b>
          <div [style.opacity]="0.75">{{ film.originalTitle }}</div>
        </td>
        <td>
          <div class="flex flex-wrap gap-2">
            @for (genre of film.genres; track genre) {
            <p-tag [value]="genre | genreName" severity="secondary" />
            }
          </div>
        </td>
        <td [style.padding]="'0.25rem 1rem'">
          <div class="flex flex-column align-items-baseline gap-2">
            @for (release of film.releases; track release) {
            <div class="release">
              <app-distributor-badge
                [distributors]="release.distributors"
                [releaseType]="release.releaseType"
                [hasFlyers]="release.flyers.length"
                [releaseDate]="release.date"
                [releaseNote]="release.note"
                [showReleaseDate]="true" />
              <div class="flyers">
                @for(flyer of release.flyers; track $index) {
                <app-flyer [flyer]="flyer" />
                }
              </div>
            </div>
            }
          </div>
        </td>
        <td class="text-right">
          <p-button
            icon="pi pi-pencil"
            class="mr-2"
            size="small"
            [rounded]="true"
            [outlined]="true"
            (click)="openFilmDialog(film)" />
          <p-button
            icon="pi pi-trash"
            severity="danger"
            size="small"
            [rounded]="true"
            [outlined]="true"
            (click)="deleteFilm(film)" />
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog [style.width.rem]="28" />
</div>
