<div class="card gap-3 flex-row">
  <div class="description">
    <p>
      Ta strona powstała z myślą o kolekcjonerach ulotek filmowych — do przeglądania, organizowania i kompletowania
      kolekcji poprzez wymiany z innymi pasjonatami.
    </p>
    <p>
      Jeśli masz skany ulotek, których jeszcze nie ma w bazie, możesz je wysłać na adres:
      <a class="font-bold" href="mailto:mateusz.jan.wesolowski&#64;gmail.com">mateusz.jan.wesolowski&#64;gmail.com</a>.
    </p>
    <p>Dane o filmach i premierach pochodzą z:</p>
    <ul>
      <li>filmweb.pl</li>
      <li>imdb.com</li>
      <li>kinoinfo.pl</li>
      <li>„Kino Plus. Film i dystrybucja kinowa w Polsce 1990-2000”, Krzysztof Kucharski</li>
    </ul>
  </div>
  <img class="flyers" src="flyers.jpg" alt="flyers" />
</div>
