<div class="card gap-3 flex-row">
  <div class="description">
    <p>
      Kinówki to społecznościowa baza ulotek filmowych. Użytkownicy strony mogą katalogować własne zbiory oraz wymieniać
      się z innymi kolekcjonerami.
    </p>
    <p>
      Jeśli masz skany ulotek, których jeszcze nie ma w bazie, możesz je wysłać na adres:
      <a class="font-bold" href="mailto:mateusz.jan.wesolowski&#64;gmail.com"> mateusz.jan.wesolowski&#64;gmail.com </a>
    </p>
    <p>Kinówki znajdziesz również w mediach społecznościowych:</p>
    <ul>
      <li>
        <i class="pi pi-facebook mr-1"></i>
        <a href="https://www.facebook.com/kinowki" target="_blank"> Fanpage na Facebooku </a>
      </li>
      <li>
        <i class="pi pi-facebook mr-1"></i>
        <a href="https://www.facebook.com/groups/1055754796508217" target="_blank"> Grupa na Facebooku </a>
      </li>
      <li>
        <i class="pi pi-instagram mr-1"></i>
        <a href="https://www.instagram.com/kinowki.ulotki" target="_blank"> Instagram </a>
      </li>
    </ul>
    <p>Dane o filmach i premierach pochodzą z:</p>
    <ul>
      <li><a href="https://www.filmweb.pl" target="_blank">filmweb.pl</a></li>
      <li><a href="https://www.imdb.com" target="_blank">imdb.com</a></li>
      <li><a href="https://kinoinfo.pl" target="_blank">kinoinfo.pl</a></li>
      <li>„Kino Plus. Film i dystrybucja kinowa w Polsce 1990–2000”, Krzysztof Kucharski</li>
    </ul>
  </div>
  <img class="flyers" src="flyers.jpg" alt="Ulotki filmowe" />
</div>
