<div class="card wide flex-row">
  <p-table
    class="flex-none border-round-2xl overflow-hidden"
    [style.width.%]="40"
    dataKey="_id"
    stateStorage="local"
    [value]="(value$ | async) ?? []"
    scrollHeight="flex"
    [scrollable]="true"
    [rowHover]="true"
    [lazy]="true"
    (onLazyLoad)="lazyLoad($event)">
    <ng-template #header>
      <tr>
        <th [style.width.rem]="1"></th>
        <th [style.width.%]="100">Użytkownik</th>
        <th [style.minWidth.rem]="8" class="text-center">W kolekcji</th>
        <th [style.minWidth.rem]="8" class="text-center">Na wymianę</th>
        <th [style.minWidth.rem]="8" class="text-center">Poszukiwane</th>
      </tr>
    </ng-template>
    <ng-template #body let-user>
      <tr class="table-row" [pSelectableRow]="user">
        <td class="pr-0">
          @if(!user.isActive) {
          <a href="mailto:{{ user.email }}" class="mail-link" [pTooltip]="user.email">
            <i class="pi pi-envelope"></i>
          </a>
          }
        </td>
        <td [class.font-bold]="user.isActive">{{ user.name }}</td>
        <td class="text-center">
          <p-selectbutton
            [options]="user.collection"
            [formControl]="state"
            aria-labelledby="basic"
            [unselectable]="true" />
        </td>
        <td class="text-center">
          <p-selectbutton [options]="user.trade" [formControl]="state" aria-labelledby="basic" [unselectable]="true" />
        </td>
        <td class="text-center">
          <p-selectbutton [options]="user.want" [formControl]="state" aria-labelledby="basic" [unselectable]="true" />
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div class="flex-none" [style.width.%]="2"></div>
  <p-dataview
    #flyersView
    class="flex-auto overflow-hidden"
    dataKey="_id"
    emptyMessage="Nie znaleziono pasujących ulotek"
    [value]="(flyers$ | async) ?? []"
    [totalRecords]="(flyersTotalRecords$ | async) ?? 0"
    [rows]="20"
    scrollHeight="flex"
    [paginator]="true"
    [lazy]="true"
    currentPageReportTemplate="{first}-{last} z {totalRecords}"
    [showCurrentPageReport]="true"
    (onLazyLoad)="lazyLoadFlyers($event)">
    <ng-template #header>
      <div class="w-full text-center font-bold">{{ flyersTitle() }}</div>
    </ng-template>
    <ng-template #list let-flyers>
      <div class="flyers-grid">
        @for(flyer of flyers; track $index) {
        <div class="flyer-wrapper">
          <div class="film-title">
            <div class="title">{{ flyer.releases | join : ' • ' : 'film.title' }}</div>
            <div class="date">{{ flyer.releases[0].date }}</div>
          </div>
          <app-flyer [flyer]="flyer" (statusChanged)="lazyLoadFlyers()" />
        </div>
        }
      </div>
    </ng-template>
  </p-dataview>
</div>
