:host ::ng-deep
  #release-year
    background: inherit

    .p-select-label
      padding: 0

  .p-selectbutton
    flex-wrap: wrap
    justify-content: center

.table-row
  &:hover p-button
    visibility: visible

  p-button
    visibility: hidden

.group-header
  color: var(--p-text-muted-color)
  letter-spacing: 1px
  text-transform: uppercase
  margin-left: 0.5rem
  font-size: 1.125rem

.no-flyer
  opacity: 0.5

.flyers
  display: flex
  flex-wrap: wrap
  align-items: flex-start
  gap: 0.5rem
  overflow: hidden
  max-width: 50rem

.releases-header
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  background: var(--p-content-background)
  color: var(--p-content-color)
  border-color: var(--p-content-border-color)
  border-width: 0 0 1px 0
  border-style: solid
  padding: 0.75rem 1rem
  gap: 1rem

@media (max-width: 1299px)
  #select-button-month
    display: none

  #select-month
    display: flex

@media (min-width: 1300px)
  #select-button-month
    display: flex

  #select-month
    display: none
