:host ::ng-deep
  #release-year
    background: inherit

    .p-select-label
      padding: 0

  .p-selectbutton
    flex-wrap: wrap
    justify-content: center

.table-row
  &:hover p-button
    visibility: visible

  p-button
    visibility: hidden

.group-header
  font-weight: bold
  color: var(--p-orange-500)
  letter-spacing: 1px
  text-transform: uppercase

.no-flyer
  opacity: 0.5

.flyers
  display: flex
  flex-wrap: wrap
  align-items: flex-start
  gap: 0.5rem
  overflow: hidden
  max-width: 50rem
