<div class="card">
  <p-toast />
  <form [formGroup]="form" class="releases-header">
    <h1 class="flex align-items-center gap-2 m-0">
      <p-select
        id="release-year"
        class="border-none shadow-none"
        [options]="options.years"
        [formControl]="year"
        scrollHeight="30rem"
        appendTo="body" />
    </h1>
    <p-selectbutton
      id="select-button-month"
      [options]="options.months"
      [formControl]="month"
      [required]="true"
      [unselectable]="true" />
    <p-select
      id="select-month"
      styleClass="w-10rem"
      [formControl]="month"
      [options]="options.months"
      scrollHeight="30rem"
      [required]="true" />
  </form>
  <p-table
    class="flex-auto overflow-hidden"
    dataKey="_id"
    stateStorage="local"
    stateKey="releases"
    rowGroupMode="subheader"
    groupRowsBy="date"
    [value]="(value$ | async) ?? []"
    [totalRecords]="(totalRecords$ | async) ?? 0"
    scrollHeight="flex"
    [scrollable]="true"
    [rowHover]="true"
    [lazy]="true"
    (onLazyLoad)="lazyLoad($event)">
    <ng-template #groupheader let-release>
      <tr pRowGroupHeader>
        <td colspan="6" class="text-center">
          <span class="group-header">{{ release | releaseDate }}</span>
        </td>
      </tr>
    </ng-template>
    <ng-template #body let-release let-rowgroup="rowgroup" let-rowspan="rowspan">
      @let passed = release.date < today;
      <tr class="table-row" [class.no-flyer]="!release.flyers?.length && passed">
        <td class="text-center" [style.width]="'5%'">
          @if(release.film?.imdb) {
          <a [href]="release.film.imdb | imdb" target="_blank">
            <img [style.width.rem]="2.5" src="imdb.svg" alt="logo" />
          </a>
          }
        </td>
        <td [style.width]="'30%'">
          <div class="flex gap-2">
            <b>{{ release.film?.title }} ({{ release.film?.year }})</b>
          </div>
          <div [style.opacity]="0.75">{{ release.film?.originalTitle }}</div>
        </td>
        <td [style.width]="'30%'">
          <app-distributor-badge
            [distributors]="release.distributors"
            [releaseType]="release.releaseType"
            [hasFlyers]="release.flyers.length"
            [releaseDate]="release.date"
            [releaseNote]="release.note" />
        </td>
        <td [style.width]="'30%'" [style.padding]="'0.25rem 1rem'">
          <div class="flyers">
            @for(flyer of release.flyers; track $index) {
            <app-flyer [flyer]="flyer" />
            } @empty {
            <span class="ml-2"> @if (passed) { brak ulotek } @else { na razie brak ulotek }</span>
            }
          </div>
        </td>
        <td [style.width]="'5%'" class="text-right" *appShowIfAdmin>
          <p-button
            icon="pi pi-trash"
            severity="danger"
            size="small"
            [rounded]="true"
            [outlined]="true"
            (click)="deleteRelease(release)" />
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog [style.width.rem]="28" />
</div>
