@import "../../../node_modules/primeflex/primeflex.css"
@import "primeicons/primeicons.css"

html
  font-family: Poppins, sans-serif, "Roboto", sans-serif
  scroll-behavior: smooth
  font-size: 16px

@media (max-width: 850px)
  html
    font-size: 0.875rem !important

@media (max-width: 666px)
  html
    font-size: 0.75rem !important

html, body
  height: 100%
  margin: 0
  overflow: hidden

a, a:visited, a:hover, a:active
  color: inherit
  text-decoration: none

.p-inputtext.ng-invalid.ng-touched
  border-color: var(--p-inputtext-invalid-border-color)

.p-drawer
  border: none !important

.card
  display: flex
  flex-direction: column
  overflow: hidden
  flex-wrap: nowrap
  margin: 0 auto
  max-width: 1440px
  height: 100%
  border-radius: 1rem

  &.wide
    max-width: 1750px