<div class="sidebar shadow-3">
  <div class="sidebar-content">
    <div class="title cursor-pointer" routerLink="/ulotki">
      <ng-template [ngTemplateOutlet]="logo" />
    </div>
    <div class="top-bar-menu">
      @for(page of pages; track page.url) {
      <a class="page" [routerLink]="page.url" routerLinkActive="active">
        {{ page.label }}
      </a>
      }
    </div>
    <div class="hamburger">
      <p-button
        id="hamburger-button"
        (click)="showDrawer = true"
        icon="pi pi-bars"
        [rounded]="true"
        [text]="true"
        size="large" />
    </div>
  </div>
</div>
<p-drawer #drawerRef [(visible)]="showDrawer">
  <ng-template #headless>
    <div class="drawer">
      <div class="drawer-header shadow-3">
        <div class="title">
          <ng-template [ngTemplateOutlet]="logo" />
        </div>
      </div>
      @for(page of pages; track page.url) {
      <a class="drawer-item" [routerLink]="page.url" routerLinkActive="active" (click)="showDrawer = false">
        <i class="mr-2" [ngClass]="page.icon"></i>
        {{ page.label }}
      </a>
      }
      <div class="copyright">Copyright © 2025 Software Tailor</div>
    </div>
  </ng-template>
</p-drawer>
<ng-template #logo>
  <div class="header">Kin<img class="logo" src="logo.png" alt="logo" />wki</div>
  <div class="subheader">Polskie ulotki filmowe od 1990</div>
</ng-template>
