.sidebar
  position: absolute
  display: flex
  align-items: center
  justify-content: center
  background: #660F28
  top: 0
  left: 0
  right: 0
  height: 5rem
  gap: 1rem

  .title
    display: flex
    flex-direction: column
    justify-content: center
    top: 0
    height: 5rem
    left: 2.5rem
    position: fixed

    .header
      font-family: Roboto
      font-weight: bold
      font-size: 2.5rem
      line-height: 2.5rem

    .subheader
      text-transform: uppercase
      letter-spacing: 1px
      line-height: 0.75rem
      font-size: 0.75rem

  .page
    font-size: 1.125rem
    font-weight: bold
    text-transform: uppercase
    letter-spacing: 0.0625rem
    padding: 0 0.625rem
    color: var(--p-text-muted-color)

    &.active
      padding: 0
      color: var(--p-text-color)

      &::before, &::after
        content: "-"
        font-family: auto
        font-weight: bold

      &::before
        margin-right: 0.25rem

      &::after
        margin-left: 0.25rem

    &:hover:not(.active)
      text-decoration: underline

@media (max-width: 1050px)
  .sidebar
    justify-content: flex-end
    padding-right: 1rem

@media (max-width: 600px)
  .sidebar
    justify-content: center
    padding-right: 0

    .title
      display: none
