.sidebar
  position: absolute
  background: #660f28
  top: 0
  left: 0
  right: 0
  height: 5rem
  padding: 0 1.5rem

.sidebar-content
  display: flex
  justify-content: space-between
  align-items: center
  overflow: hidden
  flex-wrap: nowrap
  margin: 0 auto
  max-width: 1440px
  gap: 1rem

.top-bar-menu
  display: flex
  gap: 1.25rem
  overflow: hidden

  .page
    font-size: 1rem
    font-weight: bold
    text-transform: uppercase
    letter-spacing: 0.0625rem
    color: var(--p-text-muted-color)

    &.active
      color: var(--p-text-color)

    &:hover:not(.active)
      color: var(--p-text-hover-muted-color)

    &.login, &.user
      padding-left: 1rem
      background: transparent
      border: none
      border-left: 1px solid var(--p-text-muted-color)
      cursor: pointer

    &.user
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap

@media (max-width: 990px)
  .top-bar-menu
    display: none

  .hamburger
    display: block

@media (min-width: 991px)
  .top-bar-menu
    display: flex

  .hamburger
    display: none

:host ::ng-deep #hamburger-button .p-button
  color: var(--p-text-color)

  &:hover
    color: var(--p-text-hover-color)

.drawer
  display: flex
  flex-direction: column
  height: 100%

  .drawer-header
    height: 5rem
    background: #660F28
    margin-bottom: 2rem
    padding: 0 1.5rem

  .drawer-item
    padding: 1rem 2rem
    font-size: 1.25rem
    letter-spacing: 1px
    color: var(--p-text-muted-color)
    text-align: left
    background: transparent
    border: none
    cursor: pointer

    &.active
      color: var(--p-text-color)

    &.active, &:hover
      background: var(--p-surface-800)

.drawer-footer
  margin-top: auto
  margin-bottom: 0.5rem

  .copyright
    font-size: 0.625rem
    opacity: 0.5
    text-align: center

  .username
    color: var(--p-text-muted-color)
    font-size: 1.25rem
    padding: 1rem 1.5rem
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    margin-bottom: 2rem
    background: var(--p-surface-700)
    margin: 1rem
    border-radius: 0.5rem
    
