:host
  display: flex
  border: 2px solid var(--p-orange-500)
  border-radius: 4px

.title
  display: flex
  justify-content: center
  align-items: center
  width: 20px
  align-self: stretch
  background: var(--p-orange-500)
  font-family: monospace
  font-size: 12px
  font-weight: bold

.flyer
  display: flex
  align-items: end
  justify-content: center
  overflow: hidden
  width: 100px
  user-select: none

  p-image
    display: flex

  .blank
    width: 50px
    background: white
    align-self: stretch

.no-images
  font-size: 12px
  opacity: 0.75
  margin: 4px 0
