<div class="badge">
  <div class="flyer" [class.big]="big()">
    @for(image of images(); track $index) { @if (image.original === 'blank') {
    <div class="blank" [style.width.px]="blankWidth()"></div>
    }@else {
    <div class="relative">
      <p-image
        width="auto"
        [imageStyle]="{
          'max-width': big() ? '9.375rem' : '3.125rem',
          'max-height': big() ? '13.375rem' : '4.5rem',
          'object-fit': 'contain',
          'object-position': $index % 2 === 0 ? 'right' : 'left'
        }"
        [previewImageSrc]="image.original"
        [src]="image.thumbnail || image.original"
        alt="skan ulotki"
        [preview]="true"></p-image>

      @if(big() && image.thumbnail) {
      <div class="quality-badge">HQ</div>
      }
    </div>
    } } @empty {
    <div class="no-images">
      <i class="pi pi-image"></i>
      <span>brak skanów</span>
    </div>
    }
  </div>
</div>
<div class="note" [class.big]="big()">{{ flyer() | flyerNote }}</div>
