@if (flyer(); as flyer) {
<div class="badge" [appUserFlyerStatusClass]="flyer.userFlyer">
  <div class="flyer">
    @for(image of images(); track $index) { @if (image.original === 'blank') {
    <div class="blank" [style.width.px]="blankWidth()"></div>
    }@else {
    <div class="relative">
      <p-image
        width="auto"
        [imageStyle]="{
          'max-width': '3.125rem',
          'max-height': '4.5rem',
          'object-fit': 'contain',
          'object-position': $index % 2 === 0 ? 'right' : 'left'
        }"
        [previewImageSrc]="image.original"
        [src]="image.thumbnail || image.original"
        alt="skan ulotki"
        [preview]="true">
      </p-image>
    </div>
    } } @empty {
    <div class="no-images">
      <i class="pi pi-image"></i>
      <span>brak skanów</span>
    </div>
    }
  </div>
  <div class="flex flex-column gap-2">
    <app-user-flyer-status-button
      *appShowIfLogged
      [flyer]="flyer"
      [small]="true"
      (statusChanged)="flyer.userFlyer = $event" />
    <app-copy-flyer-name-button [flyer]="flyer" [small]="true" />
  </div>
</div>
<div class="note">{{ flyer | flyerNote }}</div>
}
